/*IMAGE BANNER CSS*/
.imagebanner{
  border:1px;
  width: 100%;
}
.imagebanner:hover{
  -webkit-box-shadow: 0px 0px 0px 1px #000;
  -moz-box-shadow: 0px 0px 0px 1px #000;
  box-shadow: 0px 0px 0px 1px #000;
}

/* PROJECT IMAGE LINKS ON HOME*/
.imagebanner{
  margin-bottom:3em;
}

/* PARENT WRAP FOR PROJECT IMAGES */
.projects{
  width:80%;
  margin: 0 auto;
}

/* PARENT WRAP FOR A SINGLE PROJECT*/
.singleprojectpost{
  display: flex;
  /* flex-direction: row; */
  justify-content:center;

}

/*IMAGE BANNER*/
.imagepost{
padding: 1em;
margin-right:1em;
}

/*IMAGE BANNER DESCRIPT*/
.textpostux{
  font-family:logo;
  margin:0em;
  padding:0em;
  margin-right:1em;
  font-size:130%;
}

.textpostimg{
  font-family:logo;
  padding:0em;
  font-size:130%;
}

/* !!!! MEDIA QUERY STUFF!!!! */
@media only screen and (max-width: 1000px){

  /* PROJECT IMAGE LINKS ON HOME*/
  .imagebanner{
    width:100%;
    margin-top: 2em;
    margin-bottom:1em;
  }

  .projects{
    width:100%;
  }

.singleprojectpost{
  display: block;
}
  .textpostux{
    display:none;
  }

  .textpostimg{
    display:none;
  }

}
