/*MAIN CSS USED IN EVERYPAGE*/

*{
  font-weight:normal;
}

.body{
  letter-spacing: .25px;
  line-height: 120%;
}

body {
  font-family: bodyFont;
  padding: 2rem;
}

/* JUSTINYANG LOGO */
 .logo{
   font-family: logo;
   margin-top: -.5em;
   margin-left: 1em;
   font-size: 4rem;
   text-decoration: none;
   color: black;
 }

 .logolink{
   text-decoration: none;
   color: black;
 }

/* LOGO + WHAT U DO */
.mainheader{
  display:flex;
}

/* WHAT U DO */
.description{
  margin-left: 1.5em;
  margin-top: -1em;
}

/* NAV DIV */
.navigation{
  position: fixed;

 top:1.5em;
 right:8em;
}

/* NAV DIV - LINKS INSIDE */
.navigation a{
  margin-left:2em;
  text-decoration:none;
  color:black;
}

/* NAV DIV - LINKS INSIDE HOVER */
.navigation a:hover{
  border-bottom: solid 1px black;
}

/*FOR FOOTER*/
.footerdiv{
  margin: 2em;
  font-size: .7rem;
}

.footerlink{
  text-decoration: none;
  color: black;
margin-right:1em;
}

.footerlink:hover{
  border-bottom: solid 1px black;
}

@media only screen and (max-width: 1000px){
  /* LOGO + WHAT U DO */
    .mainheader{
      display: inherit;
      text-align:center;
    }

    .mainheader h1{
      display: inline-block;
    }

    .mainheader p{
      display: inline-block;
      text-align: left;
    }

    /* NAV DIV */
    .navigation{
      position: inherit;
      top:7em;
      text-align:center;
      margin-top:-.5em;
      margin-right:1.8em;
      font-size: 2rem;
    }

  .navigation a{
    display: inline-block
  }
    /* LOGO */
    .logo{
      font-size: 3.5rem;
    }

    /* WHAT U DO */
    .description{
      font-size:1rem;
    }

.footerdiv{
  text-align:center;
  font-size: 70%;
}

.footerlink{
  margin: .5em;
  position:relative;
  width: 50%;
}
}

@media only screen and (max-width: 584px){
  .description{
    font-size:.8rem;
  }

  .logo{
    font-size:2.5rem;
  }

  .navigation{
    font-size: 1.5rem;
  }
}
